body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

canvas {
  height: 100vh;
  width: 100vw;
  background-color: #D0E7D2;  
}

.laptop > iframe {
  width: 1024px;
  height: 670px;
  border-radius: 12px;
}
